<h1 mat-dialog-title>Seja bem-vindo ao AiTranscript!</h1>

<mat-dialog-content class="mat-typography">
    <p>Uma ferramenta de inferência sobre arquivos de Audio totalmente baseada em IA!</p>
    <p>Aqui você pode....</p>
    
    <h2>Transcrever sua reuniões ou arquivos de audio</h2>
          <p>Learn one way to build applications with Angular and reuse your code and abilities to build
              apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>

  <h2>Obter resumos do conteudo discutido nos arquivos.</h2>
  <p>Aqui você conta com prompts pré construídos, mas pode personalizar os seus...   
  </p>



  <h2>Não possui cadastro ainda?</h2>
  <h1>Cadastre-se aqui para desfrutar dos recursos do AiTranscritpt.</h1>

  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial>Login</button>
</mat-dialog-actions>
